.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #f8f8f8;
  width: 100%;

  margin: 0 auto; /* 화면 중앙 정렬 */
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-content > div {
  width: 30%; /* 각 구역의 너비를 30%로 설정 */
  margin: 10px 0;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.privacy-policy a {
  text-decoration: none;
  color: #0073e6;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content > div {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
  }
}
