.landing-container {
  width: 100%;  
  max-width: 100%; 
  padding: 0 0px; 
  margin: 0 auto;
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.search-bar-container {
  width: 100%;
  max-width: 850px; 
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px; 
  width: 100%;
  margin: 32px 0; 
  border-top: 1px solid #ebebeb; /* 연한 회색 상단 테두리 추가 */
  padding-top: 36px;
}

@media (max-width: 1400px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr); 
  }
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .landing-container {
    padding: 0 16px; 
  }
}

@media (max-width: 400px) {
  .card-grid {
    grid-template-columns: 1fr; 
  }
}