.landing-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* 최소 250px로 카드 크기 설정 */
  gap: 20px; /* 카드 간격 설정 */
  justify-content: center;
  box-sizing: border-box; /* 전체 너비가 padding을 포함하도록 설정 */
}

.card {
  width: 100%; /* 카드가 그리드 너비에 맞도록 설정 */
  box-sizing: border-box; /* padding과 border가 카드의 크기를 넘지 않도록 설정 */
}
