.searchNotFound {
  text-align: center;
  margin-top: 50px;
  
  h2 {
    font-size: 32px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
}

.notFoundImage {
  width: 200px;
  height: auto;
  margin-top: 20px;
}